<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en-us" }}">

{{ partial "site_head.html" . }}
<body id="top" data-spy="scroll" data-offset="70" data-target="{{ if or .IsHome (eq .Type "widget_page") }}#navbar-main{{else}}#TableOfContents{{end}}" {{ if not (.Scratch.Get "light") }}class="dark"{{end}}>

  {{ partial "search" . }}

  {{ partial "navbar.html" . }}

  {{ block "main" . }}{{ end }}

  {{ partial "site_js.html" . }}

  {{ if ne .Type "docs" }}
  <!--  -->
<!--   <div style="position: relative; width: 0; height: 100px"></div>
  <div style="position: relative; width: 0; height: 0">
    <div id="feynmanfoot" style="background-image:url('{{ $.Site.BaseURL }}/img/{{ .Site.Params.footmark }}');"></div>
  </div>
<div id="botbar1"></div> -->
  <!--  -->
  <div class="container">
    {{ partial "site_footer.html" . }}
  </div>
  {{ end }}

  {{ partial "citation.html" . }}

</body>
</html>
